<div class="container">

    <h1 class="mt-4">Bienvenido a la gestión de accesos</h1>

    <p>Aquí trabajamos para garantizar la mejor experiencia de vida para nuestros residentes. Gestionamos de manera eficiente diversos servicios para brindarles un entorno seguro y cómodo.</p>

    <hr />

    <h2 class="mt-4">Servicios que ofrecemos</h2>
  <div class="bg-dark p-2 m-2 rounded text-white">
    <div>
      <h3>Gestión de Autorizaciones</h3>
      <p>Administra fácilmente las autorizaciones de ingreso.</p>
    </div>
    <div>
      <h3>Gestión de Accesos</h3>
      <p>Controla y monitorea los accesos en tiempo real, garantizando seguridad y orden.</p>
    </div>
    <div>
      <h3>Gestión de Entidades</h3>
      <p>Supervisa y gestiona los proveedores, visitantes, trabajadores y propietarios que ingresan o egresan.</p>
    </div>
  </div>


</div>
