<div class="container">
<p class="h2 mt-4 text-center" style="font-weight: bold; font-size: 2rem;">Lista de Autorizaciones</p>

<!-- Entrada para cambiar el número de documento -->
<div class="form-group m-5 text-center">
    <label for="docNumber">Número de Documento:   </label>
    <input type="number" [(ngModel)]="docNumber" id="docNumber" class="form-control d-inline-block w-auto">
    <button (click)="getAuthRecords()" class="btn btn-dark ms-2">Buscar</button>
</div>

<div class="container mt-4">
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Tipo de Visitante</th>
                <th scope="col">Días</th>
                <th scope="col">Rango de Fechas</th>
                <th scope="col">Rango Horario</th>
            </tr>
        </thead>
        <tbody>
            @for (auth of authRecords; track $index) {
                <tr>
                    <td>{{ auth.visitor.doc_number }}</td>
                    <td>{{ auth.visitor.name }}</td>
                    <td>{{ auth.visitor.last_name }}</td>
                    <td>{{ translateVisitorType(auth.visitor_type) }}</td>
                    <td>
                        <ul class="list-unstyled mb-0">
                            @for (day of auth.auth_ranges; track $index) {
                                <li>
                                    {{ translateDays(day.day_of_weeks) }}
                                </li>
                            }
                        </ul>
                    </td>
                    <td>{{ auth.auth_ranges[0].date_from | date: 'dd/MM/yyyy' }} - {{ auth.auth_ranges[0].date_to | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <ul class="list-unstyled mb-0">
                            @for (range of auth.auth_ranges; track $index) {
                                <li>
                                    {{ range.hour_from }} - {{ range.hour_to }}
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>
