
<app-main-container [title]="'Lista de Entidades'">
  <div class="card-body">

    <app-table #table  
          [items]="filteredVisitors" 
          [columns]="columns"
          [isLoading]="isLoading" 
          [pagination]="{
            totalItems: totalItems,
            page: page,
            size: size,
            onPageChange: onPageChange,
            onPageSizeChange: onPageSizeChange
          }" 
          [height]="'450px'" 
          (searchValueChange)="onFilterChange($event)"
          (pdfButtonClick)="onPdfButtonClick()"
          (excelButtonClick)="onExcelButtonClick()"
          (infoButtonClick)="onInfoButtonClick()"
          (headerButtonClick)="onHeaderButtonClick()"
          >
  
          <!-- Template para combinar 'name' y 'last_name' en la columna 'Nombre' -->
          <ng-template #nameTemplate let-item>
            {{ item.name }} {{ item.last_name }}
          </ng-template>
  
          <!-- Template para combinar 'doc_type' y 'doc_number' en la columna 'Documento' -->
          <ng-template #documentTemplate let-item>
            {{ item.doc_type }} {{ item.doc_number }}
          </ng-template>
  
          <!-- Filtros -->
          <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="btn-group me-5" role="group">
                  <div class="d-flex align-items-center">
                      <div class="btn-group me-2">
                          <button type="button" class="btn btn-outline-danger" (click)="changeFilterMode(filterTypes.NOTHING)">
                              <i class="bi bi-trash-fill"></i> Limpiar
                          </button>
                          <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-funnel-fill"></i> Filtros
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" (click)="changeFilterMode(filterTypes.DOCUMENT_NUMBER)">Numero de documento</a></li>
                              <li><a class="dropdown-item" (click)="changeFilterMode(filterTypes.VISITOR_TYPE)">Tipo de Entidad</a></li>
                          </ul>
                      </div>
                      <div class="d-flex">
                        @if(applyFilterWithNumber===true) {
                          <input type="number" class="form-control me-2" id="filter-number" [(ngModel)]="filterInput" placeholder="Número">
                        }
                        @if (applyFilterWithCombo === true) {
                          <select id="content-filter" 
                                  class="form-select me-2" 
                                  [(ngModel)]="filterInput">
                              <option value="" disabled selected>Selecciona un filtro</option>
                              @for (content of contentForFilterCombo; track content) {
                                  <option [value]="content">{{ content }}</option>
                              }
                          </select>  
                        }                 
                          <div class="ms-auto">
                              <button class="btn btn-dark" type="button" (click)="confirmFilter()">Buscar</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /filtros -->
  
      </app-table>
  </div>
  
  
    <ng-template #infoModal let-modal>
      <div class="modal-header fs-6 py-1">
        <h4 class="modal-title">Información de la Lista de entidades</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body fs-6 py-2">
        <div class="container-fluid">
          <!-- Introducción -->
          <div class="alert alert-info mb-2 py-2">
            <h5 class="alert-heading">¿Qué es esta pantalla?</h5>
            <p class="mb-0 small">Esta pantalla permite visualizar y gestionar los registros de visitantes. Puedes ver los detalles de cada visitante, aplicar filtros, y realizar acciones específicas sobre cada registro.</p>
          </div>
    
          <!-- Campos Principales -->
          <div class="card mb-2">
            <div class="card-header py-1">
              <h5 class="mb-0">Datos de Visitantes</h5>
            </div>
            <div class="card-body py-2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item py-1">
                  <strong>Lista de Visitantes:</strong> Muestra los detalles de cada visitante, incluyendo nombre, apellido, tipo y número de documento.
                </li>
                <li class="list-group-item py-1">
                  <strong>Filtros:</strong> Permite aplicar filtros como el tipo de visitante para acceder de manera facil a los registros que coincidan con el tipo de visitante de manera rápida.
                </li>
                <li class="list-group-item py-1">
                  <strong>Paginación:</strong> Control para navegar entre múltiples páginas de registros de visitantes.
                </li>
                <li class="list-group-item py-1">
                  <strong>Exportar:</strong> Opción para exportar la lista de visitantes en formato PDF o Excel.
                </li>
              </ul>
            </div>
          </div>
    
          <!-- Acciones -->
          <div class="card mb-2">
            <div class="card-header py-1">
              <h5 class="mb-0">Acciones Disponibles</h5>
            </div>
            <div class="card-body py-2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item py-1">
                  <strong>Buscar:</strong> Filtra la lista de visitantes mediante campos de texto o selección para localizar registros específicos.
                </li>
                <li class="list-group-item py-1">
                  <strong>Limpiar Filtros:</strong> Restablece los filtros aplicados para mostrar la lista completa de visitantes.
                </li>
              </ul>
            </div>
          </div>
    
          <!-- Nota (OPCIONAL) -->
          <div class="alert alert-warning py-2 mb-0">
            <h5 class="alert-heading">Nota:</h5>
            <p class="mb-0 small">Verifica la información antes de realizar cambios o eliminar registros de visitantes. Asegúrate de que los datos de los visitantes y autorizadores sean correctos.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-primary" (click)="modal.close()">Entendido</button>
      </div>
    </ng-template>

 
<!-- Componente HTML-->
<ngx-scanner-qrcode #action="scanner" (event)="onScanComplete($event)"></ngx-scanner-qrcode>

<span>{{ action.data | async | json }}</span>

<p *ngIf="action.isLoading">⌛ Cargando...</p>

<button (click)="action.isStart ? action.stop() : action.start()">
  {{ action.isStart ? 'Detener' : 'Iniciar' }}
</button>


</app-main-container>
 
  