<app-main-container title="Nueva Autorización">
  
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="row g-3 m-2">

    <!-- Terreno -->
    <div class="col-md-6">
      <div class="d-flex align-items-center flex-row">
        <label for="plot-id" class="form-label m-0">Número de lote<label class="text-danger">*</label></label>
        <input list="plots" id="plot-id" class="form-control ms-2" formControlName="plot_id"
               [ngClass]="{
          'is-invalid': authForm.get('plot_id')?.invalid && authForm.get('plot_id')?.touched
        }"/>
        <datalist id="plots">
          @for (plot of plots; track $index){
            <option value="{{plot.id}}">{{plot.id}} - {{plot.desc}}</option>
          }
        </datalist>
      </div>
      <div>
        <small class="text-danger ms-2" *ngIf="authForm.get('plot_id')?.invalid && authForm.get('plot_id')?.touched">
          Requerido
        </small>
      </div>
    </div>
  
    <!-- Visitante -->
    <div class="col-md-6">
      <div class="d-flex align-items-center flex-row">
        <label for="visitor-type" class="form-label m-0">Tipo de Visitante</label>
        <select id="visitor-type" class="form-select ms-2" formControlName="visitor_type">
          <option value="VISITOR">Visitante</option>
        </select>
      </div>
      <div>
        <small class="text-danger ms-2"
               *ngIf="authForm.get('visitor_type')?.invalid && authForm.get('visitor_type')?.touched">
          requerido
        </small>
      </div>
    </div>
  
    <div formGroupName="visitor_request" class="row">
      <h5 class="mt-3 p-2">Detalles del Visitante</h5>
      <div class="col-md-6 mt-3">
        <div class="d-flex align-items-center flex-row">
          <label for="name" class="form-label m-0">Nombre</label><label class="text-danger">*</label>
          <input type="text" id="name" class="form-control ms-4" formControlName="name"
                 [ngClass]="{
          'is-invalid': authForm.get('visitor_request.name')?.invalid && authForm.get('visitor_request.name')?.touched
        }"/>
        </div>
        <div>
          <small class="text-danger ms-2"
                 *ngIf="authForm.get('visitor_request.name')?.invalid && authForm.get('visitor_request.name')?.touched">
            Requerido
          </small>
        </div>
      </div>
  
      <div class="col-md-6 mt-3">
  
        <div class="d-flex align-items-center flex-row">
          <label for="last-name" class="form-label m-0">Apellido</label><label class="text-danger">*</label>
          <input type="text" id="last-name" class="form-control ms-4" formControlName="last_name"
                 [ngClass]="{
          'is-invalid': authForm.get('visitor_request.last_name')?.invalid && authForm.get('visitor_request.last_name')?.touched
        }"/>
        </div>
        <div>
          <small class="text-danger ms-2"
                 *ngIf="authForm.get('visitor_request.last_name')?.invalid && authForm.get('visitor_request.last_name')?.touched">
            Requerido
          </small>
        </div>
      </div>
  
      <div class="col-md-6 mt-3">
        <div class="d-flex align-items-center flex-row">
          <label for="doc-type" class="form-label m-0">Tipo de Documento<label class="text-danger">*</label></label>
          <select id="doc-type" class="form-select ms-2" formControlName="doc_type">
            <option value="DNI">DNI</option>
            <option value="PASSPORT">Pasaporte</option>
          </select>
        </div>
      </div>
  
      <div class="col-md-6 mt-3">
        <div class="d-flex align-items-center flex-row">
          <label for="doc-number" class="form-label m-0">Número de Documento<label class="text-danger">*</label></label>
          <input type="number" id="doc-number" class="form-control ms-2" formControlName="doc_number"
                 [ngClass]="{
          'is-invalid': authForm.get('visitor_request')!.get('doc_number')?.invalid && authForm.get('visitor_request')!.get('doc_number')?.touched
        }">
        </div>
        <div>
          <small class="text-danger ms-2"
                 *ngIf="authForm.get('visitor_request.doc_number')?.invalid && authForm.get('visitor_request.doc_number')?.touched">
            Requerido
          </small>
        </div>
      </div>
  
      <div class="col-md-6 mt-3">
        <div class="d-flex align-items-center flex-row">
          <label for="birth-date" class="form-label m-0">Fecha de Nacimiento<label class="text-danger">*</label></label>
          <input type="date" id="birth-date" class="form-control ms-2" formControlName="birth_date"
                 [ngClass]="{
          'is-invalid': authForm.get('visitor_request.birth_date')?.invalid && authForm.get('visitor_request.birth_date')?.touched
        }"/>
        </div>
        <div>
          <small class="text-danger ms-2"
                 *ngIf="authForm.get('visitor_request.birth_date')?.invalid && authForm.get('visitor_request.birth_date')?.touched">
            Requerido
          </small>
        </div>
      </div>
    </div>
    <!--
      <div class="col-3">
  
      <h5 class="mt-3 p-2">Detalles de Autorización</h5>
    </div>
      <div class="col-3">
  
      <button type="button" class="btn btn-primary" (click)="addAuthRange()">Agregar Rango</button>
      </div>
      <div formArrayName="auth_range_request">
        @for (range of authRangeRequests.controls; track range){
  
        <div [formGroupName]="$index" class="row">
          <h4>Rango {{ $index + 1 }}</h4>
  
          <div class="col-md-6">
            <label for="date-from" class="form-label">Fecha Desde</label>
            <input type="date" id="date-from" class="form-control" formControlName="date_from" />
          </div>
  
          <div class="col-md-6">
            <label for="date-to" class="form-label">Fecha Hasta</label>
            <input type="date" id="date-to" class="form-control" formControlName="date_to" />
          </div>
  
          <div class="col-md-6">
            <label for="hour-from" class="form-label">Hora Desde</label>
            <input type="time" id="hour-from" class="form-control" formControlName="hour_from" />
          </div>
  
          <div class="col-md-6">
            <label for="hour-to" class="form-label">Hora Hasta</label>
            <input type="time" id="hour-to" class="form-control" formControlName="hour_to" />
          </div>
  
          <div class="col-md-12">
            <label for="days-of-week" class="form-label">Días de la Semana</label>
            <select id="days-of-week" class="form-select" formControlName="days_of_week" multiple>
              <option value="MONDAY">Lunes</option>
              <option value="TUESDAY">Martes</option>
              <option value="WEDNESDAY">Miércoles</option>
              <option value="THURSDAY">Jueves</option>
              <option value="FRIDAY">Viernes</option>
              <option value="SATURDAY">Sábado</option>
              <option value="SUNDAY">Domingo</option>
            </select>
          </div>
  
          <div class="col-md-12">
            <label for="comment" class="form-label">Comentario</label>
            <textarea id="comment" class="form-control" formControlName="comment"></textarea>
          </div>
  
          <button type="button" class="btn btn-danger me-2" (click)="removeAuthRange($index)">Cancelar</button>
        </div>
          }
      </div>-->
  
    <div class="col-12 d-flex justify-content-end mt-5">
      <button type="button" class="btn btn-danger me-2" (click)="onCancel()">Cancelar</button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
  
</app-main-container>
