<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #000000;">
    <div class="card p-4 m-3" style="width: 400px; border-radius: 15px;">
        <h4 class="text-center mb-4">Generar Código QR</h4>

        <div class="form-group mb-3">
            <label for="docNumber" class="form-label">Número de Documento</label>
            <input type="number" class="form-control" id="docNumber" [(ngModel)]="docNumber"
                   placeholder="Ingrese el número de documento">
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-warning py-2" (click)="generateQr()">Generar QR</button>
        </div>

        <div *ngIf="qrImageSrc" class="text-center mt-4">
            <h5 class="mb-3">Código QR:</h5>
            <img [src]="qrImageSrc" alt="Código QR" style="max-width: 100%;">
        </div>
    </div>
</div>
