<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #000000;">
    <div class="card p-4 m-3" style="width: 400px; border-radius: 15px;">
        <h4 class="text-center mb-4">Registrar visitante</h4>
        <form #form="ngForm" (ngSubmit)="saveVisitor()">

            <div class="form-group mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="visitor.name" name="name" required
                    placeholder="Nombre">
            </div>

            <div class="form-group mb-3">
                <label for="lastname" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastname" [(ngModel)]="visitor.last_name" name="lastname"
                    required placeholder="Apellido">
            </div>

            <div class="form-group mb-3">
                <label for="doc_number" class="form-label">DNI</label>
                <input type="text" class="form-control" id="doc_number" [(ngModel)]="visitor.doc_number"
                    name="doc_number" required placeholder="11.111.111">
            </div>

            <div class="form-group mb-3">
                <label for="birth_date" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="birth_date" [(ngModel)]="visitor.birth_date"
                    name="birth_date" required>
            </div>

            <!--<div class="form-check mb-4">
                <input type="checkbox" class="form-check-input" id="is_active" [(ngModel)]="visitor.is_active"
                    name="is_active" disabled="disabled">
                <label for="is_active" class="form-check-label">Activo</label>
            </div>-->

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary py-2">Guardar</button>
                <a routerLink="/visitors" class="btn btn-secondary py-2" (click)="form.reset()">Cancelar</a>
            </div>
        </form>
    </div>
</div>